@import "../utils/Themes.scss";

.app {
  background-color: var(--background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color);
}

header {
  position: fixed;
  width: 100%;
  height: 40px;
  background-color: var(--background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  font-size: 20px;
  padding: 10px;
  border-bottom: 1px solid var(--border);

  a {
    display: contents;

    .logo-img {
      height: 40px;
      margin-left: 30px;
      cursor: pointer;
    }
  }
}

main {
  padding-top: 60px;
  padding-bottom: 30px;
}

h3 {
  text-align: center;
}

textarea {
  resize: none;
}

button {
  cursor: pointer;
}

@media (max-width: 768px) {
  header {
    padding: 3px;

    a {
      .logo-img {
        height: 35px;
      }
    }
  }

  main {
    padding-top: 47px;
    padding-bottom: 20px;
  }
}
