form {
  display: flex;
  flex-direction: column;

  div {
    display: flex;
    width: 310px;

    label {
      font-size: 22px;
      word-break: keep-all;
    }

    input {
      width: 180px;
      height: 24px;
      margin-left: auto;
      font-size: 20px;
    }
  }

  .buttons {
    justify-content: end;
  }

  small {
    margin-left: auto;
    font-size: 13px;
    padding-bottom: 5px;
    color: var(--error-color);
  }
}
