form {
  display: flex;
  flex-direction: column;
}

form div {
  display: flex;
  width: 310px;
}

form div label {
  font-size: 22px;
  word-break: keep-all;
}

form div input {
  width: 180px;
  height: 24px;
  margin-left: auto;
  font-size: 20px;
}

form button {
  height: 35px;
  font-size: 17px;
}

form .buttons {
  justify-content: end;
}

small {
  margin-left: auto;
  font-size: 13px;
  padding-bottom: 5px;
  color: #ff6868;
}
